@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,300..700;1,14..32,300..700&display=swap");
@import "tailwindcss";
@plugin "tailwindcss-debug-screens";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
    --font-sans: "Inter", sans-serif;
    --spacing-999: 1280px;

    --color-primary: var(--color-slate-100);
    --color-secondary: var(--color-slate-400);
    --color-tertiary: var(--color-sky-300);

}

@layer base {
    body {
        @apply overflow-x-hidden text-sm md:text-base text-secondary bg-gray-900 antialiased;
    }

    button {
        @apply cursor-pointer
    }

    h5 {
        @apply text-lg md:text-base font-bold;
    }

    h4 {
        @apply text-xl md:text-lg font-bold;
    }

    h3 {
        @apply text-2xl md:text-xl font-bold;
    }

    h2 {
        @apply text-3xl md:text-2xl font-bold;
    }

    h1 {
        @apply text-4xl md:text-3xl font-bold;
    }
}